<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../css/purchaseorder.css" rel="stylesheet" />
    <script src="../../scripts/js/purchaseorder.js"></script>
</head>
<body>
    <div>
        <div id="nav-items">
            <div id="btn-add" class="btn">
                <img src="../../content/images/Add Row-48.png" />
                <div>Add PO</div>
            </div>         
        </div>
    </div>
    <div id="po-content">
        
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Add New PO</h2>
            </div>
            <div class="modal-body">
                <div>
                    <label for="suppliername">Supplier Name:</label>
                    <input type="text" name="gender" id="suppliername" placeholder="enter supplier name here" />
                </div>
                <div>
                    <label for="buildingdisplay">Building Name:</label>
                    <input type="text" name="gender" id="buildingdisplay" placeholder="enter building name here" /><br />
                </div>
                <div>
                    <label for="gross">Gross:</label>
                    <input type="text" name="gender" id="gross" placeholder="enter gross here" />
                </div>
            </div>
            <div class="modal-footer">
                <div id="btn-save" class="btn-modal">
                    <div>Save</div>
                </div>
                <div id="btn-cancel" class="btn-modal">
                    <div>Cancel</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
