<!DOCTYPE html>
<html>
<head>
    <title>About</title>
	<meta charset="utf-8" />
    <link href="../css/about.css" rel="stylesheet" />
</head>
<body>
    <div id="about-content">
        <div id="about-content-image">

        </div>
        <div id="about-content-text">
            <p>
                Strata X is the new strata management software for Netstrata built on the bleeding edge of .NET technologies both in the server and client side. This system is web based on the front end
                and based on .NET and SQL Server on the middle tier and back end respectively, built on and powered by the latest technologies.
            </p>
        </div>
    </div>
    <div id="about-logos">
        <img src="../content/images/dot-NET-Framework-logo.jpg" />
        <img src="../content/images/vs2015-logo.png" />
        <img src="../content/images/HTML5-logo.png" />
        <img src="../content/images/css3-logo.png" />
        <img src="../content/images/js-logo.jpg" />
        <img src="../content/images/ts-logo.png" />
        <img src="../content/images/angularjs-logo.png" />
        <img src="../content/images/sqlserver2016-logo.png" />
    </div>
</body>
</html>
