<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../css/buildings.css" rel="stylesheet" />
    <script src="../scripts/js/buildings.js"></script>
</head>
<body>
    <div id="hero-content"></div>
    <div id="main-table">
        <table>
            <thead>
                <tr>
                    <th>Building Id</th>
                    <th>Strata Plan Number</th>
                    <th>Building Display</th>
                    <th>Postcode</th>
                    <th>Local Government</th>
                    <th>Lots</th>
                    <th>Strata Manager</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>
