<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../css/financials.css" rel="stylesheet" />
    <script src="../scripts/js/financials.js"></script>
</head>
<body>
    <div id="fin-container">
        <div id="fin-items">
            <div view="accounting.html">               
               <img src="../content/images/Accounting-48.png" />
               <a href="#">Accounting</a>
            </div>           
            <div view="purchaseorder.html">
                <img src="../content/images/Purchase Order-48.png" />
                <a href="#">Purchase Order</a>
            </div>
            <div>
                <img src="../content/images/Statistics-48.png" />
                <a href="#">Statistics</a>
            </div>
            <div>
                <img src="../content/images/Banknotes-48.png" />
                <a href="#">Bank Notes</a>
            </div>
        </div>
        <div id="fin-content">
           
        </div>
    </div>
</body>
</html>
